In [21]:
import os
os.getcwd()

'/Users/apple/E-Commerce-Orders/notebooks'

In [11]:

os.listdir("../data/raw")

['orders_snapshot.csv', 'data.csv']

In [12]:
import pandas as pd

In [13]:
# Load raw data
raw_path = "../data/raw/data.csv"
df_raw = pd.read_csv(raw_path, encoding='ISO-8859-1')

# Quick check
print("Raw shape:", df_raw.shape)
df_raw.head()

Raw shape: (541909, 8)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [14]:
# Drop duplicate rows
df_clean = df_raw.drop_duplicates()

# Remove extra spaces in column names
df_clean.columns = df_clean.columns.str.strip()

# Fill missing values (adjust columns as needed)
df_clean = df_clean.fillna({
    'customer_name': 'Unknown',
    'city': 'Unknown',
    'amount': 0
})

print("Cleaned shape:", df_clean.shape)
df_clean.head()

Cleaned shape: (536641, 8)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [16]:
import pandas as pd

In [17]:

processed_path = "../data/processed/orders_cleaned.csv"

In [18]:
raw_path = "../data/raw/orders.csv"

In [19]:
import os

# Define file paths
raw_path = "../data/raw/orders.csv"
processed_path = "../data/processed/orders_cleaned.csv"

# Make sure the folders exist
os.makedirs("../data/raw", exist_ok=True)
os.makedirs("../data/processed", exist_ok=True)

print("✅ Paths are set:")
print("Raw path:", raw_path)
print("Processed path:", processed_path)

✅ Paths are set:
Raw path: ../data/raw/orders.csv
Processed path: ../data/processed/orders_cleaned.csv

In [22]:
import pandas as pd

def load_data(path: str) -> pd.DataFrame:
    """Load raw CSV data."""
    return pd.read_csv(path)

def clean_data(df: pd.DataFrame) -> pd.DataFrame:
    """Clean missing values and convert dates."""
    df = df.dropna(subset=['CustomerID'])
    df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
    return df